/** Global CSS **/
:root {
    --primary-color: #3c1187;
    --secondary-color: white;
    --tertiary-color: gray;
    --fourth-color: azure;
    --hover-color: #F18C1B;
    /** reset amplify styles **/
    /* --amplify-primary-color: purple; */
}

body {
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
    margin: 0 auto;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    text-decoration: underline;
    color: var(--tertiary-color) !important;
}

.ant-modal-footer {
    display: none !important;
}

/* Testing QA Styles */
/* div {
    border: 1px solid green;
} */

.contain-page {
    display: flex;
    width: 100%;
    flex-direction: row;
    min-height: 100vh;
    height: auto;
}

.navbar {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 15vh;
    background-color: var(--primary-color);
    justify-content: space-around;
}

.navbar a {
    color: var(--secondary-color);
    font-size: 1.5em;
    text-decoration: none;
}

.navbar a:hover {
    color: var(--hover-color);
    text-decoration: underline;
    font-weight: bolder;
}

.menu {
    width: 40%;
    height: auto;
    padding: 1em;
    background-color: var(--primary-color);
}

.init {
    width: 60%;
    height: auto;
    padding: 1em;
}

.alertas-card {
    border: 1px solid var(--primary-color);
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.detail-info {
    color: var(--tertiary-color);
    font-size: 1em;
}

.detail-title {
    font-variant-caps: all-petite-caps;
    font-weight: bold;
    color: var(--primary-color);
}

.profile {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.comment-message {
    border-radius: 1em;
    -webkit-box-shadow: 2px 3px 5px 0px rgba(153,150,153,1);
    -moz-box-shadow: 2px 3px 5px 0px rgba(153,150,153,1);
    box-shadow: 2px 3px 5px 0px rgba(153,150,153,1);
    width: auto;
    margin: 0 0 2em 2em;
    padding: 2em 2em 1em;
    background-color: var(--secondary-color);
}

.detail-by {
    color: var(--primary-color);
    font-weight: 600;
}

.bg-card {
    display: flex;
    flex-direction: row;
}

.alert-message {
    color: var(--hover-color) !important;
}

.event-card, .report-card {
    background-color: antiquewhite !important;
    border-color: var(--hover-color) !important;
    margin-bottom: 2em !important;
    border-radius: 1em !important;
}

.report-card {
    background-color: aliceblue !important;
    border-color: var(--primary-color) !important;

}

@media (max-width: 768px) {
    .contain-page {
        flex-direction: column;
    }
    .menu, .init {
        width: 100%;
    }
    .navbar {
        flex-direction: row;
        height: auto;
        padding-top: 1em;
    }
    .navbar a {
        font-size: 2em;
    }
 }

 @media (max-width: 768px) {
    .navbar a {
        font-size: 1.2em;
    }
 }

