/* css to App */
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.App-header {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  padding: 1em;
  margin: 1em auto;
  border-radius: 1em;
  justify-content: center;
  border: 1px solid #f0f0f0;
}

.App-sign-out {
  display: flex;
  flex-flow: nowrap;
  justify-content: flex-end;
  width: 100%;
}

.construction {
  width: 90vw;
  height: auto;
  display: block;
}

.building {
  font-size: 2.5em;
  font-weight: 600;
  color: #4795C3;
}

.details {
  font-size: 1em;
  color: #999;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

button .button amplify-button {
  border-radius: 1em !important;
  font-size: 12px !important;
}

.ant-form {
  width: 50%;
  padding: 1em;
  margin: 1em auto;
  border-radius: 1em;
  border: 1px solid #f0f0f0;
}

.ant-form-item-control-input-content {
  display: flex;
  justify-content: space-evenly;
}

.ant-card-bordered {
  border-radius: 1em;
}

@media all and (min-width: 769px) {
  .construction {
    width: 50vw;
  }
 }